@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


html {
    scroll-behavior: smooth;
    scroll-padding-top: 77px;

}

body {
    font-weight: 300;
    font-style: normal;
    background-color: #F1E8B8;
    color: white;
    font-family: "Jersey 25", sans-serif;
    overflow-x: hidden;


}

.header {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: large;
    font-size: x-large;

    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .5);
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 0 10%;
}

.name {
    padding: 20px;
    font-weight: 400;
    display: block;
    font-size: x-large;
    transition: 0.5s ease;
}

.name:hover {
    transform: scale(1.1);
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    display: block;
    transition: 0.5s ease;

}

nav a:hover {
    background-color: white;
    color: #000000;
    transform: scale(1.1);

}

nav li {
    float: left;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2.5rem;
}

.home-img img {
    width: 32vw;
    position: relative;
    transition: 0.5s ease;
    margin-top: 15px;
    margin-bottom: 65px;
}

.home-img img:hover {
    transform: scale(1.05);
}

.home-content h1 {
    background-color: #000000;

    margin-left: -100vw;
    margin-right: -100vw;
    padding-left: 100vw;
    padding-right: 100vw;

    font-family: "Jersey 10", sans-serif;
    font-size: 115px;
    text-align: center;
    text-shadow: -5px 5px 0 #929292;
    margin-bottom: 0px;
}


.home-content h2 {
    font-weight: 600;
    font-size: x-large;

    background-color: #5D2E8C;
    color: #CCFF66;

    margin-left: -100vw;
    margin-right: -100vw;
    padding-left: 100vw;
    padding-right: 100vw;

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-shadow: -3px 3px 0 black;
    margin-bottom: 0px;




}

.home-content p {
    font-size: x-large;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 1.2;
    text-align: center;


}

.home-content .card-body {
    padding: 8px;
}

.home-content .card {
    border: 5px solid black;
    border-radius: 16px;
    background-color: #ffffff;
    transition: 0.5s ease;
    box-shadow: -6px 6px 0 black;

}


.home-summary {
    background-color: #FF6666;
    color: black;

    margin-left: -100vw;
    margin-right: -100vw;
    padding-left: 100vw;
    padding-right: 100vw;

    padding-top: 10px;
    padding-bottom: 15px;

}


.title h3 {
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    padding: 3rem;
    font-weight: 800;
    font-size: 85px;
    text-shadow: -5px 5px 0px black;

}

.card {
    border: 10px solid black;
    border-radius: 16px;
    background-color: #ffffff;
    transition: 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-weight: 600;
}

.card-body {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 17px;

}

.card-img {
    max-width: 90%;
}

.btn {
    border: 5px solid #000000;
    border-radius: 10px;
    font-size: larger;
    font-weight: 500;
}

.skills-content {
    font-size: 20px;
    font-weight: 500;
    color: black;
    border: 10px solid black;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 12px;
    max-width: 60rem;
    text-align: center;
    transition: 0.5s ease;

}

.skills-content ul {
    list-style: none;
    margin: 0px;
    padding: 0px;


}

.skills-content img {
    width: 75px;
    height: 75px;
    transition: 0.3s ease;
}

.skills-content img:hover {
    transform: scale(1.1);

}

.skills-content:hover {
    transform: scale(1.02);
}

.contact-content {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    gap: 2rem;
}

.contact-content img {
    width: 75px;
    height: 75px;
    transition: 0.3s ease;
}

.invert {
    filter: invert(100%);
}

.contact-content img:hover {
    transform: scale(1.1);
}

@media (max-width:830px) {
    .name {
        display: none;
    }

    .header {
        justify-content: center;
        padding: 0 0;
    }

    nav a {
        padding: 20px;
    }

    html {
        scroll-padding-top: 67px;
    }

}

@media (max-width:480px) {

    nav a {
        padding: 11px;
    }

    .home-img img {
        display: none;
    }

    #home {
        gap: 0rem;
        display: block;
    }

    html {
        scroll-padding-top: 50px;
    }

}

@media (max-width:770px) {
    .home-img img {
        display: none;
    }

    #home {
        display: block;
    }

    .home-content .card {
        box-shadow: 0px 6px 0 black;

    }

}